@model IEnumerable<StudentResourcesAPI.Models.StudentClazz>

@{
    ViewData["Title"] = "Details";
    var subjects = ViewData["subjects"] as List<Subject>;
    var grades = ViewData["grades"] as List<Grade>;
}

<h2>Details</h2>

<div>
    Class : @Html.DisplayNameFor(model => model.Clazz.Name)
    Teacher : @Html.DisplayNameFor(model => model.Clazz.Teacher)
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Account.RollNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.RollNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Email)
                    </td>
                    <td>
                        <a href="/Accounts/Edit/@item.Account.AccountId">Edit</a> |
                        <a href="/Accounts/Details/@item.Account.AccountId">Details</a> |
                        <a href="/Accounts/Delete/@item.Account.AccountId">Delete</a> |
                        <a class="addGrade">Add Grade</a>
                    </td>
                    <td class="hidden gradeForm">
                        <form class="gradeForm" action="/Accounts/AddGrades" method="post">
                            <div class="form-group">
                                <input type="hidden" name="AccountId" value="@item.Account.AccountId"/>
                                <label>Subjects</label>
                                <select class="form-control" name="SubjectId">
                                    <option value="" disabled selected>Select Subject</option>
                                    @foreach (var sj in subjects)
                                    {
                                        <option value="@sj.SubjectId">@sj.Name</option>
                                    }
                                </select>
                            </div>
                            @foreach (var g in Enum.GetValues(typeof(GradeType)))
                            {
                                <div class="form-group">
                                    <label> @g </label>
                                    <input class="form-control" type="number" name="@g"/>
                                </div>
                            }
                            <div class="form-group">
                                <input type="button" value="Save" class="btn btn-default btnSubmit" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".addGrade").click(function () {
            $(this).closest("td").next().removeClass("hidden");
            $(this).addClass("hidden");
        }); 
        $(".btnSubmit").click(function (){
            var formData = $(this).closest($(".gradeForm")).serializeArray();
            $.ajax({
                type: 'POST',
                url: '/Accounts/AddGrades',
                data: formData,
                success: function () {
                    alert("success");
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status == 409) {
                        alert("Sinh vien da co diem mon hoc nay");
                    }                 
                }
            });
            $(this).closest("td").addClass("hidden");
            $(this).closest("td").prev().find(".addGrade").removeClass("hidden");
        });
    });
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
