@model IEnumerable<StudentResourcesAPI.Models.StudentClazz>

@{
    ViewData["Title"] = "Details";
    var subjects = ViewData["subjects"] as List<Subject>;
    var grades = ViewData["grades"] as List<Grade>;
}

<h2>Details</h2>

<div>
    Class : @Html.DisplayNameFor(model => model.Clazz.Name)
    Teacher : @Html.DisplayNameFor(model => model.Clazz.Teacher)
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Account.RollNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.GeneralInformation.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div class="form-group">
                <label>Subjects</label>
                <select class="form-control" name="SubjectId" id="chooseSubject">
                    <option value="" disabled selected>Select Subject</option>
                    @foreach (var sj in subjects)
                    {
                        <option value="@sj.SubjectId">@sj.Name</option>
                    }
                </select>
            </div>
            <tr>
                <div class="form-group">
                    <input type="button" value="Save" class="btn btn-default btnSubmit" />
                </div>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.RollNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.GeneralInformation.Email)
                    </td>
                    <td>
                        <a href="/Accounts/Edit/@item.Account.AccountId">Edit</a> |
                        <a href="/Accounts/Details/@item.Account.AccountId">Details</a> |
                        <a href="/Accounts/Delete/@item.Account.AccountId">Delete</a> |
                        <a class="addGrade">Add Grade</a>
                    </td>
                    <td class="gradeForms">
                        <form class="gradeForm">
                            <input type="hidden" name="AccountId" value="@item.Account.AccountId"/>
                            <input type="hidden" name="SubjectId" class="subjectId" />
                            @foreach (var g in Enum.GetValues(typeof(GradeType)))
                            {
                                <div class="form-group">
                                    <label> @g </label>
                                    <input class="form-control" type="number" name="@g" />
                                </div>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".addGrade").click(function () {
            $(this).closest("td").next().removeClass("hidden");
            $(this).addClass("hidden");
        }); 


        $(".btnSubmit").click(function () {
            $(".subjectId").each(function () {
                $(this).val($("#chooseSubject").val());
            });
            var grades = [];
            $(".gradeForm").each(function () {
                var formData = {
                    'AccountId': $(this).find('input[name="AccountId"]').val(),
                    'SubjectId': $(this).find('input[name="SubjectId"]').val(),
                    'AssignmentGrade': $(this).find('input[name="AssignmentGrade"]').val(),
                    'PraticalGrade': $(this).find('input[name="PraticalGrade"]').val(),
                    'TheoricalGrade': $(this).find('input[name="TheoricalGrade"]').val(),
                };
                grades.push(formData);
            });
            grades = JSON.stringify(grades);
            console.log(grades);
            $.ajax({
                accepts: 'application/json',
                contentType: 'application/json',
                type: 'POST',
                url: '/Accounts/AddGrades',
                data: grades,
                success: function (result) {
                    alert("success");
                    console.log(result);
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status == 409) {
                        alert("Sinh vien da co diem mon hoc nay");
                    }                 
                }
            });
        });
    });
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
